In [1]:
import pandas as pd
import numpy as np

In [2]:
mobile = pd.read_excel(open('Mobile Device Data for Assignment 2.xlsx', 'rb'), sheet_name='Normalized Product Data', engine='openpyxl')

In [3]:
company =  pd.read_excel(open('Mobile Device Data for Assignment 2.xlsx', 'rb'), sheet_name='Model-Company', engine='openpyxl')

In [4]:
companyID = pd.read_excel(open('Mobile Device Data for Assignment 2.xlsx', 'rb'), sheet_name='Company ID', engine='openpyxl')

In [5]:
mobile.dropna(inplace = True)
mobile.reset_index(drop=True, inplace=True)
company.dropna(inplace = True)
company.reset_index(drop=True, inplace=True)
companyID.dropna(inplace = True)
companyID.reset_index(drop=True, inplace=True)

In [6]:
mobile.shape

(3162, 16)

In [7]:
company.shape

(2903, 5)

In [8]:
companyID.shape

(213, 3)

In [9]:
mobile

,Model,Release Date,Release Year,Model ID,RAM Capacity (Mb),Storage (Mb),CPU Clock (MHz),Display Diagonal (in),Display Width(px),Display Length(px),Width (mm),Length (mm),Depth (mm),Volume (cubic cm),Mass (grams),Pixel Density (per inch)
0,Psion Organiser II LZ 64,1989-01-01,1989.000000,1,0.000000,0.000000,0.000000,0.050360,0.000000,0.000000,0.369714,0.118852,0.146889,0.059332,0.044181,0.000000
1,Hewlett-Packard 95LX (HP Jaguar),1991-04-01,1991.250000,2,0.000214,0.000015,0.002230,0.223022,0.056911,0.047619,0.416098,0.147541,0.127646,0.065799,0.053879,0.030793
2,Psion Series 3,1991-06-01,1991.416667,3,0.000092,0.000015,0.001895,0.187050,0.056911,0.023810,0.432469,0.147541,0.101988,0.056634,0.044181,0.035336
3,Hewlett-Packard 95LX 1MB RAM (HP Jaguar),1992-01-01,1992.000000,4,0.000458,0.000015,0.002230,0.223022,0.056911,0.047619,0.416098,0.147541,0.127646,0.065799,0.053879,0.030793
4,Psion Series 3a,1993-03-01,1993.166667,5,0.000214,0.000015,0.003386,0.258993,0.154472,0.063492,0.432469,0.147541,0.101988,0.056634,0.046336,0.129985
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3157,Xiaomi Mi-Two / MI-2,2012-12-01,2012.916667,3158,1.000000,0.249999,0.749886,0.187050,0.252033,0.619048,0.151432,0.315574,0.026299,0.007623,0.018319,0.751641
3158,Xiaomi Mi-Two / MI-2 32GB,2012-12-01,2012.916667,3159,1.000000,0.499999,0.749886,0.187050,0.252033,0.619048,0.151432,0.315574,0.026299,0.007623,0.018319,0.751641
3159,ZTE N9120 Avid 4G,2012-12-01,2012.916667,3160,0.249977,0.062080,0.599818,0.165468,0.154472,0.380952,0.160982,0.307377,0.037845,0.011434,0.019397,0.480061
3160,ZTE U930HD,2012-12-01,2012.916667,3161,0.499985,0.062080,0.599818,0.201439,0.252033,0.619048,0.162347,0.344262,0.015394,0.006531,0.011422,0.713781
3161,ZTE V887,2012-12-01,2012.916667,3162,0.249977,0.062080,0.499772,0.237410,0.154472,0.380952,0.195089,0.405738,0.026940,0.016016,0.017241,0.358910

In [10]:
company

,Model,Release Date,Release Year,Model ID,Company_ID
0,Casio Cassiopeia E-3000,2003-01-01,2003.000000,260.0,26.0
1,Coxion WebBook Mobile Computer,2003-01-01,2003.000000,261.0,35.0
2,CyberBank POZ 0850,2003-01-01,2003.000000,262.0,61.0
3,Medion MDPPC 100 (MD7200),2003-01-01,2003.000000,263.0,84.0
4,MiTAC Mio 728 PDA Phone,2003-01-01,2003.000000,264.0,84.0
...,...,...,...,...,...
2898,Xiaomi Mi-Two / MI-2,2012-12-01,2012.916667,3158.0,149.0
2899,Xiaomi Mi-Two / MI-2 32GB,2012-12-01,2012.916667,3159.0,149.0
2900,ZTE N9120 Avid 4G,2012-12-01,2012.916667,3160.0,156.0
2901,ZTE U930HD,2012-12-01,2012.916667,3161.0,156.0
2902,ZTE V887,2012-12-01,2012.916667,3162.0,156.0

In [11]:
companyID

           Company                         Company_real  Company_ID
0            1und1                      United Internet       141.0
1             3Com                                 3Com         1.0
2           Abocom                       AboCom Systems         2.0
3             Acer                                 Acer         3.0
4            Ainol  Shenzhen Ainol Electronics Co., Ltd       116.0
..             ...                                  ...         ...
208          Zenum                                Zenum       153.0
209           Ziss                        Ziss HongKong       154.0
210           Zopo                          Zopo Mobile       155.0
211            ZTE                                  ZTE       156.0
212  Sony Ericsson                        Sony Ericsson       124.0

[213 rows x 3 columns]

In [12]:
company['Model ID'].value_counts().sort_index()

260.0     1
261.0     1
262.0     1
263.0     1
264.0     1
         ..
3158.0    1
3159.0    1
3160.0    1
3161.0    1
3162.0    1
Name: Model ID, Length: 2903, dtype: int64

In [13]:
mobile['Model ID'].value_counts().sort_index()

1       1
2       1
3       1
4       1
5       1
       ..
3158    1
3159    1
3160    1
3161    1
3162    1
Name: Model ID, Length: 3162, dtype: int64

In [14]:
company['Company_ID'].value_counts().sort_index()

2.0       1
3.0      57
4.0      14
5.0       1
6.0      34
         ..
153.0     1
154.0     5
155.0     2
156.0    49
213.0    59
Name: Company_ID, Length: 146, dtype: int64

In [15]:
companyID['Company_ID'].value_counts().sort_index()

1.0      1
2.0      1
3.0      1
4.0      1
5.0      1
        ..
152.0    2
153.0    1
154.0    1
155.0    1
156.0    2
Name: Company_ID, Length: 156, dtype: int64

In [16]:
company_companyID = pd.merge(company,companyID,how="inner",left_on="Company_ID",right_on="Company_ID")
company_companyID

,Model,Release Date,Release Year,Model ID,Company_ID,Company,Company_real
0,Casio Cassiopeia E-3000,2003-01-01,2003.000000,260.0,26.0,Casio,Casio
1,Casio Cassiopeia IT-500 M30,2003-04-01,2003.250000,282.0,26.0,Casio,Casio
2,Casio Cassiopeia IT-500 M30B,2003-04-01,2003.250000,283.0,26.0,Casio,Casio
3,Casio Cassiopeia IT-500 M30CB,2003-04-01,2003.250000,284.0,26.0,Casio,Casio
4,Casio Cassiopeia IT-500 M30CR,2003-04-01,2003.250000,285.0,26.0,Casio,Casio
...,...,...,...,...,...,...,...
9781,Micromax A110 Canvas 2,2012-11-01,2012.833333,3067.0,82.0,Micromax,Micromax Informatics
9782,Micromax A90S Pixel,2012-11-01,2012.833333,3068.0,82.0,Micromax,Micromax Informatics
9783,Micromax A68 Smarty 4.0,2012-12-01,2012.916667,3130.0,82.0,Micromax,Micromax Informatics
9784,UMI X1,2012-11-01,2012.833333,3100.0,138.0,UMI,UMI DIGI
9785,Vivo X1,2012-12-01,2012.916667,3157.0,19.0,Vivo,BBK Electronics Corporation

In [17]:
data =  pd.merge(mobile, company_companyID,how="outer",left_on="Model ID",right_on="Model ID")
data

,Model_x,Release Date_x,Release Year_x,Model ID,RAM Capacity (Mb),Storage (Mb),CPU Clock (MHz),Display Diagonal (in),Display Width(px),Display Length(px),...,Depth (mm),Volume (cubic cm),Mass (grams),Pixel Density (per inch),Model_y,Release Date_y,Release Year_y,Company_ID,Company,Company_real
0,Psion Organiser II LZ 64,1989-01-01,1989.000000,1,0.000000,0.000000,0.000000,0.050360,0.000000,0.000000,...,0.146889,0.059332,0.044181,0.000000,NaN,NaT,NaN,NaN,NaN,NaN
1,Hewlett-Packard 95LX (HP Jaguar),1991-04-01,1991.250000,2,0.000214,0.000015,0.002230,0.223022,0.056911,0.047619,...,0.127646,0.065799,0.053879,0.030793,NaN,NaT,NaN,NaN,NaN,NaN
2,Psion Series 3,1991-06-01,1991.416667,3,0.000092,0.000015,0.001895,0.187050,0.056911,0.023810,...,0.101988,0.056634,0.044181,0.035336,NaN,NaT,NaN,NaN,NaN,NaN
3,Hewlett-Packard 95LX 1MB RAM (HP Jaguar),1992-01-01,1992.000000,4,0.000458,0.000015,0.002230,0.223022,0.056911,0.047619,...,0.127646,0.065799,0.053879,0.030793,NaN,NaT,NaN,NaN,NaN,NaN
4,Psion Series 3a,1993-03-01,1993.166667,5,0.000214,0.000015,0.003386,0.258993,0.154472,0.063492,...,0.101988,0.056634,0.046336,0.129985,NaN,NaT,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10099,ZTE N9120 Avid 4G,2012-12-01,2012.916667,3160,0.249977,0.062080,0.599818,0.165468,0.154472,0.380952,...,0.037845,0.011434,0.019397,0.480061,ZTE N9120 Avid 4G,2012-12-01,2012.916667,156.0,ZTE,ZTE
10100,ZTE U930HD,2012-12-01,2012.916667,3161,0.499985,0.062080,0.599818,0.201439,0.252033,0.619048,...,0.015394,0.006531,0.011422,0.713781,ZTE U930HD,2012-12-01,2012.916667,156.0,TMN,ZTE
10101,ZTE U930HD,2012-12-01,2012.916667,3161,0.499985,0.062080,0.599818,0.201439,0.252033,0.619048,...,0.015394,0.006531,0.011422,0.713781,ZTE U930HD,2012-12-01,2012.916667,156.0,ZTE,ZTE
10102,ZTE V887,2012-12-01,2012.916667,3162,0.249977,0.062080,0.499772,0.237410,0.154472,0.380952,...,0.026940,0.016016,0.017241,0.358910,ZTE V887,2012-12-01,2012.916667,156.0,TMN,ZTE
10103,ZTE V887,2012-12-01,2012.916667,3162,0.249977,0.062080,0.499772,0.237410,0.154472,0.380952,...,0.026940,0.016016,0.017241,0.358910,ZTE V887,2012-12-01,2012.916667,156.0,ZTE,ZTE

In [18]:
data["Model ID"].value_counts().sort_index()

1       1
2       1
3       1
4       1
5       1
       ..
3158    1
3159    1
3160    2
3161    2
3162    2
Name: Model ID, Length: 3162, dtype: int64

In [19]:
data["Company_ID"].value_counts().sort_index()

2.0       1
3.0      57
4.0      14
5.0       1
6.0      34
         ..
152.0    62
153.0     1
154.0     5
155.0     2
156.0    98
Name: Company_ID, Length: 145, dtype: int64

In [20]:
data["Release Date_x"].value_counts().sort_index()

1989-01-01      1
1991-04-01      1
1991-06-01      1
1992-01-01      1
1993-03-01      1
             ...
2012-08-01     50
2012-09-01    152
2012-10-01    201
2012-11-01    190
2012-12-01    141
Name: Release Date_x, Length: 208, dtype: int64

In [21]:
drop_list = ["Model_y", "Release Date_y", "Release Year_y"]
data = data.drop(columns=drop_list)
data.rename({'Model_x': 'Model', 'Release Date_x': 'Release Date', 'Release Year_x':'Release Year'}, axis=1, inplace=True)

In [22]:
data

,Model,Release Date,Release Year,Model ID,RAM Capacity (Mb),Storage (Mb),CPU Clock (MHz),Display Diagonal (in),Display Width(px),Display Length(px),Width (mm),Length (mm),Depth (mm),Volume (cubic cm),Mass (grams),Pixel Density (per inch),Company_ID,Company,Company_real
0,Psion Organiser II LZ 64,1989-01-01,1989.000000,1,0.000000,0.000000,0.000000,0.050360,0.000000,0.000000,0.369714,0.118852,0.146889,0.059332,0.044181,0.000000,NaN,NaN,NaN
1,Hewlett-Packard 95LX (HP Jaguar),1991-04-01,1991.250000,2,0.000214,0.000015,0.002230,0.223022,0.056911,0.047619,0.416098,0.147541,0.127646,0.065799,0.053879,0.030793,NaN,NaN,NaN
2,Psion Series 3,1991-06-01,1991.416667,3,0.000092,0.000015,0.001895,0.187050,0.056911,0.023810,0.432469,0.147541,0.101988,0.056634,0.044181,0.035336,NaN,NaN,NaN
3,Hewlett-Packard 95LX 1MB RAM (HP Jaguar),1992-01-01,1992.000000,4,0.000458,0.000015,0.002230,0.223022,0.056911,0.047619,0.416098,0.147541,0.127646,0.065799,0.053879,0.030793,NaN,NaN,NaN
4,Psion Series 3a,1993-03-01,1993.166667,5,0.000214,0.000015,0.003386,0.258993,0.154472,0.063492,0.432469,0.147541,0.101988,0.056634,0.046336,0.129985,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10099,ZTE N9120 Avid 4G,2012-12-01,2012.916667,3160,0.249977,0.062080,0.599818,0.165468,0.154472,0.380952,0.160982,0.307377,0.037845,0.011434,0.019397,0.480061,156.0,ZTE,ZTE
10100,ZTE U930HD,2012-12-01,2012.916667,3161,0.499985,0.062080,0.599818,0.201439,0.252033,0.619048,0.162347,0.344262,0.015394,0.006531,0.011422,0.713781,156.0,TMN,ZTE
10101,ZTE U930HD,2012-12-01,2012.916667,3161,0.499985,0.062080,0.599818,0.201439,0.252033,0.619048,0.162347,0.344262,0.015394,0.006531,0.011422,0.713781,156.0,ZTE,ZTE
10102,ZTE V887,2012-12-01,2012.916667,3162,0.249977,0.062080,0.499772,0.237410,0.154472,0.380952,0.195089,0.405738,0.026940,0.016016,0.017241,0.358910,156.0,TMN,ZTE
10103,ZTE V887,2012-12-01,2012.916667,3162,0.249977,0.062080,0.499772,0.237410,0.154472,0.380952,0.195089,0.405738,0.026940,0.016016,0.017241,0.358910,156.0,ZTE,ZTE

In [23]:
data = data.replace(np.nan,'other')
data

,Model,Release Date,Release Year,Model ID,RAM Capacity (Mb),Storage (Mb),CPU Clock (MHz),Display Diagonal (in),Display Width(px),Display Length(px),Width (mm),Length (mm),Depth (mm),Volume (cubic cm),Mass (grams),Pixel Density (per inch),Company_ID,Company,Company_real
0,Psion Organiser II LZ 64,1989-01-01,1989.000000,1,0.000000,0.000000,0.000000,0.050360,0.000000,0.000000,0.369714,0.118852,0.146889,0.059332,0.044181,0.000000,other,other,other
1,Hewlett-Packard 95LX (HP Jaguar),1991-04-01,1991.250000,2,0.000214,0.000015,0.002230,0.223022,0.056911,0.047619,0.416098,0.147541,0.127646,0.065799,0.053879,0.030793,other,other,other
2,Psion Series 3,1991-06-01,1991.416667,3,0.000092,0.000015,0.001895,0.187050,0.056911,0.023810,0.432469,0.147541,0.101988,0.056634,0.044181,0.035336,other,other,other
3,Hewlett-Packard 95LX 1MB RAM (HP Jaguar),1992-01-01,1992.000000,4,0.000458,0.000015,0.002230,0.223022,0.056911,0.047619,0.416098,0.147541,0.127646,0.065799,0.053879,0.030793,other,other,other
4,Psion Series 3a,1993-03-01,1993.166667,5,0.000214,0.000015,0.003386,0.258993,0.154472,0.063492,0.432469,0.147541,0.101988,0.056634,0.046336,0.129985,other,other,other
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10099,ZTE N9120 Avid 4G,2012-12-01,2012.916667,3160,0.249977,0.062080,0.599818,0.165468,0.154472,0.380952,0.160982,0.307377,0.037845,0.011434,0.019397,0.480061,156,ZTE,ZTE
10100,ZTE U930HD,2012-12-01,2012.916667,3161,0.499985,0.062080,0.599818,0.201439,0.252033,0.619048,0.162347,0.344262,0.015394,0.006531,0.011422,0.713781,156,TMN,ZTE
10101,ZTE U930HD,2012-12-01,2012.916667,3161,0.499985,0.062080,0.599818,0.201439,0.252033,0.619048,0.162347,0.344262,0.015394,0.006531,0.011422,0.713781,156,ZTE,ZTE
10102,ZTE V887,2012-12-01,2012.916667,3162,0.249977,0.062080,0.499772,0.237410,0.154472,0.380952,0.195089,0.405738,0.026940,0.016016,0.017241,0.358910,156,TMN,ZTE
10103,ZTE V887,2012-12-01,2012.916667,3162,0.249977,0.062080,0.499772,0.237410,0.154472,0.380952,0.195089,0.405738,0.026940,0.016016,0.017241,0.358910,156,ZTE,ZTE

In [24]:
data.to_csv("Mobile Device Data.csv", index=False)